@font-face {
  font-family: "HK Grotesk";
  font-weight: 400;
  src: url("/assets/fonts/HKGrotesk-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "HK Grotesk";
  font-weight: 600;
  src: url("/assets/fonts/HKGrotesk-Bold.ttf") format("truetype");
}

body,
html {
  margin: 0;
  font-family: "HK Grotesk", sans-serif;
  overflow-x: hidden;
}

body {
  background: #00193b;
  color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 0.1rem 0;
  font-family: "HK Grotesk", sans-serif !important;
}

p {
  text-align: left;
  /* font: normal normal normal 26px/33px "HK Grotesk"; */
  letter-spacing: -0.26px;
  font-size: 22px;
  line-height: 2rem;
}

a {
  text-decoration: none;
  color: #fff;
}

header,
main,
footer {
  padding: 0 90px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav {
  min-width: 500px;
  display: flex;
  justify-content: flex-end;
}

header nav a {
  text-align: left;
  font: normal normal 900 20px/25px "HK Grotesk";
  letter-spacing: 0px;
  text-transform: capitalize;
  opacity: 1;
}

header nav a:not(:last-child) {
  margin-right: 42px;
}

.cta {
  border: 3px solid #f2aa00;
  padding: 8px 18px;
  background: linear-gradient(to right, #0448a6, #022453);
}

.by2 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-content h1 {
  text-align: left;
  font: normal normal bold 75px/86px HK Grotesk;
  letter-spacing: -1.2px;
  color: #ffffff;
  text-transform: capitalize;
  opacity: 1;
  max-width: 578px;
  margin-bottom: 35px;
}

.hero-content h1::after,
.section-3 h2::after {
  content: "";
  display: block;
  background: #f2aa00 0% 0% no-repeat padding-box;
  margin-top: 10px;
  height: 10px;
  width: 125px;
}

.hero-content p {
  max-width: 608px;
}

.hero-right img {
  width: 100%;
  max-width: 500px;
}

input,
select {
  border: 3px solid #f2aa00;
  font-size: 17px;
  padding: 8px;
  background: transparent;
  color: #fff;
}

input::placeholder,
select {
  color: #fff;
}

#pincode,
#city {
  max-width: 20%;
  width: 100%;
}

#email {
  /* max-width: 350px; */
  width: 100%;
}

#email2 {
  /* max-width: 350px; */
  width: 100%;
}

#email3 {
  /* max-width: 350px; */
  width: 100%;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

form .last,
#footer-signup {
  display: inline-block;
  position: relative;
}

input[type="submit"] {
  border-radius: 0;
  border: none;
  background: linear-gradient(to right, #0448a6, #022453);
  position: absolute;
  top: 50%;
  right: 2px;
  padding: 9px 32px 9px 9px;
  transform: translatey(-50%);
  color: #fff;
  cursor: pointer;
}

.last::after,
#footer-signup::after {
  content: "";
  display: block;
  width: 8px;
  height: 16px;
  background: url("assets/r-white-2.svg");
  position: absolute;
  z-index: 10;
  right: 15px;
  top: 50%;
  transform: translatey(-50%);
}

#signup {
  display: flex;
  justify-content: space-evenly;
}
#signup2 {
  display: flex;
  justify-content: space-evenly;
}
#signup3 {
  display: flex;
  justify-content: space-evenly;
}
.last {
  display: inline-flex !important;
  flex: 2 0 50%;
}

#signup input {
  margin: 0 2px;
}
#signup2 input {
  margin: 0 2px;
}

#signup3 input {
  margin: 0 2px;
}

.below-hero {
  width: 60%;
  max-height: 146px;
  margin: 38px 0;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.below-hero div {
  width: 33%;
}

.below-hero h4 {
  width: 170px;
  text-align: left;
  font: normal normal 600 26px/48px Poppins;
  letter-spacing: -0.33px;
  text-transform: capitalize;
  line-height: 42px;
  margin: 0;
}

.below-hero::before,
.below-hero::after {
  content: "";
  display: block;
  position: absolute;
  z-index: 10;
  top: 0;
  bottom: 0;
  width: 2px;
  background: #f2aa00;
}

.below-hero::before {
  left: 28%;
}

.below-hero::after {
  left: 61%;
}

.section-1,
.section-2,
.section-3,
.section-4 {
  min-height: 60vh;
  max-width: 75%;
  margin: 40px auto;
}

.section-2,
.section-4 {
  display: flex;
  align-items: center;
}

.section-1 .right {
  width: 55%;
}

.section-1 .right h2 {
  font: normal normal bold 52px "HK Grotesk";
  letter-spacing: -3.45px;
  text-transform: capitalize;
}

.section-2 .by2,
.section-4 .by2 {
  position: relative;
  max-height: 303px;
  padding: 45px 65px;
  background: transparent linear-gradient(180deg, #0448a6 0%, #022453 100%) 0%
    0% no-repeat padding-box;
  box-shadow: 0px 3px 52px #00000029;
  border-radius: 9px;
}

.section-2 .left h3 {
  text-align: left;
  font: normal normal 400 28px "HK Grotesk" !important;
  letter-spacing: -0.31px;
}

.section-2 .left p {
  max-width: 470px;
  font: normal normal normal 17px/25px "HK Grotesk";
  color: #9999a5;
}

.section-2 img {
  position: absolute;
  right: 0;
  bottom: 0;
  border-bottom-right-radius: 9px;
}

a.know-more {
  display: inline-block;
  padding: 12px 90px 12px 30px;
  border-radius: 50em;
  background: transparent linear-gradient(270deg, #f2aa00 0%, #795500 100%) 0%
    0% no-repeat padding-box;
  position: relative;
}

a.know-more::after {
  content: "";
  display: block;
  background: url("assets/r-white.svg");
  height: 20px;
  width: 14px;
  position: absolute;
  z-index: 10;
  right: 10%;
  top: 50%;
  transform: translatey(-50%) scale(0.8);
}

.section-3 .left {
  width: 65%;
}

.section-3 .left img {
  width: 100%;
}

.section-3 h2 {
  font: normal normal bold 64px "HK Grotesk";
  max-width: 267px;
  text-align: left;
  letter-spacing: -4.19px;
  text-transform: capitalize;
}

.section-3 p {
  max-width: 275px;
  font: normal lighter 600 25px "HK Grotesk";
  text-align: left;
  letter-spacing: -0.31px;
}

.section-4 img {
  position: absolute;
  left: -15%;
  top: 50%;
  transform: translatey(-50%);
  width: 40%;
}

.section-4 h2 {
  text-align: left;
  font: normal normal 400 55px/64px "HK Grotesk";
  letter-spacing: -0.55px;
}

/* .section-4 p {
  max-width: 531px;
  text-align: left;
  font: normal normal normal 23px/29px "HK Grotesk";
  letter-spacing: -0.23px;
  color: #9999a5;
  text-transform: capitalize;
} */

footer {
  background: transparent linear-gradient(292deg, #ffffff 0%, #e19d00 100%) 0%
    0% no-repeat padding-box;
  border: 1px solid #000000;
}

footer .content {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 50px 0; */
  color: #000 !important;
}

footer .left,
footer .right {
  width: 40%;
}

footer .content .right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

footer .content h3 {
  text-align: left;
  font: normal normal bold 44px/51px HK Grotesk;
  letter-spacing: -0.44px;
  color: #354052;
}

.feedback {
  margin-top: 100px;
}

.feedback h3 {
  font-size: 36px/42px;
}

.feedback a {
  text-decoration: underline;
  font: normal normal bold 22px/28px HK Grotesk;
  letter-spacing: -0.22px;
  color: #000000;
  text-transform: capitalize;
  margin: 12px 0;
}

.footer-links a {
  display: flex;
  flex-direction: column;
  text-align: right;
  text-decoration: underline;
  font: normal normal bold 22px/28px HK Grotesk;
  letter-spacing: 0px;
  color: #000000;
  text-transform: capitalize;
  margin-bottom: 20px;
}

.socials {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 250px;
  padding: 1rem;
}

.socials img {
  width: 43px;
  height: 43px;
}

.bottom {
  display: flex;
  justify-content: flex-end;
  padding-top: 1rem;
}

#email-2 {
  min-width: 445px;
  border: 3px solid #0448a6;
}

#email-2::placeholder {
  color: #0448a6;
  font-weight: bold;
}

.hydlove {
  font-size: 3rem;
  text-align: center;
}
.section-testimonials {
  margin: 5rem 0rem;
}
q {
  font-size: large;
}
@media screen and (max-width: 1080px) {
  p {
    font-size: 18px;
    line-height: 26px;
  }

  .hero-content h1 {
    font-size: 60px;
    line-height: 70px;
    margin-bottom: 18px;
  }

  #signup {
    display: flex;
    /* justify-content: flex-start; */
    flex-wrap: wrap;
  }

  #signup2 {
    display: flex;
    /* justify-content: flex-start; */
    flex-wrap: wrap;
  }
  #signup3 {
    display: flex;
    /* justify-content: flex-start; */
    flex-wrap: wrap;
  }

  .last {
    /* max-width: 350px; */
    margin-top: 4px;
  }

  .below-hero {
    width: 80%;
  }

  .section-1 .right h2 {
    font-size: 35px;
    line-height: 42px;
    letter-spacing: 0.5px;
  }

  header nav a:not(:last-child) {
    margin-right: 20px;
  }

  .section-4 h2,
  footer .content h3 {
    font-size: 32px;
    line-height: 36px;
  }

  .section-1,
  .section-2,
  .section-3,
  .section-4 {
    min-height: 60vh;
    max-width: 95%;
    margin: 30px auto;
  }
  #pincode,
  #email {
    width: 100%;
    max-width: 100%;
  }
}

@media screen and (max-width: 780px) {
  .section-1,
  .section-2,
  .section-3,
  .section-4 {
    min-height: 43vh;
    max-width: 95%;
    margin: 90px auto;
  }

  header,
  main,
  footer {
    padding: 0 16px;
  }

  .below-hero {
    width: 100%;
  }

  .hero-content h1 {
    font-size: 42px;
    line-height: 48px;
    margin-bottom: 18px;
  }

  header nav {
    text-align: right;
  }

  header nav a:not(:last-child) {
    display: none;
  }

  .section-4 img {
    max-width: 40% !important;
    right: 0;
  }

  .below-hero h4 {
    width: 150px;
    font: normal normal 600 24px/32px Poppins;
  }
}

@media screen and (max-width: 645px) {
  header nav,
  #email-2 {
    min-width: 60%;
  }

  .section-4 h2,
  footer .content h3 {
    font-size: 24px;
    line-height: 32px;
  }
}

@media screen and (max-width: 520px) {
  .hydlove {
    font-size: 2rem;
    text-align: center;
  }
  .section-testimonials {
    margin: 0rem 0rem;
  }
  #pincode,
  #city {
    width: 47%;
    max-width: initial;
  }

  .last,
  #email {
    width: 100%;
    max-width: initial;
  }

  .by2 {
    flex-wrap: wrap;
    justify-content: center;
  }

  .hero-right {
    padding: 40px;
  }

  .section-1 .right,
  .section-3 .left,
  .section-3 h2,
  .section-3 p {
    width: 100%;
    max-width: 100%;
    padding-top: 3rem;
  }

  .section-3 h2 {
    max-width: 100%;
    font-size: 42px;
    line-height: 48px;
    letter-spacing: 0.5px;
  }
}

@media screen and (max-width: 450px) {
  .bottom {
    display: flex;
    justify-content: center;
    padding-top: 1rem;
  }
  footer .content .right {
    justify-content: center;
  }

  header nav,
  #email-2 {
    min-width: 45%;
  }

  #pincode,
  #city {
    width: 100%;
  }

  .below-hero h4 {
    width: 112px;
    font: normal normal 600 16px/24px Poppins;
  }
  .section-1,
  .section-2,
  .section-3 {
    margin: 60px auto;
  }
  .section-4 {
    margin: 80px auto;
  }

  .section-2 h3,
  .section-2 p,
  .section-4 p {
    max-width: 100% !important;
  }

  .section-2 .by2 {
    flex-wrap: wrap;
    min-height: 70vh;
  }

  .section-2 .left {
    position: relative;
    z-index: 12;
  }

  .section-2 img {
    width: 95%;
  }

  .section-4 .by2 {
    flex-wrap: wrap;
    min-height: 65vh;
    padding-top: 15px;
  }

  .section-4 img {
    position: relative;
    max-width: 78% !important;
    left: 50%;
    transform: translate(-50%, -40%);
    width: 100%;
  }
  .spamcon {
    transform: translateY(-10%);
  }

  .section-3 .left img {
    margin: 10px 0 50px 0;
  }

  footer .left,
  footer .right {
    width: 100%;
  }

  footer .content {
    justify-content: center;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 376px) {
  .below-hero h4 {
    width: 100%;
    font: normal normal 600 12px/18px Poppins;
  }

  #pincode,
  #city {
    width: 100%;
    margin: 2px 0;
  }
  .section-4 .by2 {
    flex-wrap: wrap;
    min-height: 75vh;
    padding-top: 15px;
  }
  .section-2 .by2 {
    flex-wrap: wrap;
    min-height: 90vh;
  }
}

#subHighlight {
  font-weight: 500;
  font: normal normal bold 15px/37px poppins;
  line-height: inherit;
  padding-bottom: 15px;
}

#subHighlight2 {
  font-weight: 500;
  font: normal normal bold 18px/37px poppins;
}

select option {
  padding: 1rem;
  background: rgba(0, 0, 0, 0.2);
  color: #00193b;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}

.dontspam {
  text-align: left;
  font: normal normal 400 28px "HK Grotesk" !important;
  letter-spacing: -0.31px;
}
.dontspamdesc {
  max-width: 470px;
  font: normal normal normal 17px/25px "HK Grotesk";
  color: #9999a5;
}

.slideshow-container {
  position: relative;
  background: transparent;
}

/* Slides */
.mySlides {
  display: none;
  padding: 40px 80px;
  text-align: center;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -30px;
  padding: 16px;
  color: #888;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  position: absolute;
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}

/* Add an italic font style to all quotes */
q {
  font-style: italic;
}

/* Add a blue color to the author */
.author {
  color: cornflowerblue;
  text-align: center;
}
